@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    
}

header {
    h1 {
        font-size: 0;
    }
}
body {
    display: flex;
    justify-content: center;
}

.main {
    background-color: red;
    width: min(90%, 874px);
    height: 100vh;
    margin-block: clamp(2rem, 0.944rem + 4.507vw, 5rem);
}